.info-card-no-show{
  display: none;
}

.info-card{
  border: 2px solid var(--forth-color-dark);
  border-radius: 5px;
  position: absolute;
  margin-bottom: -200px;
  margin-left: -300px;
  margin-top: -100px;
  width: 300px;
  padding: 5px;
}
