.nav-button{
  align-items: center;
  padding: 10px;
}

.nav-button-icon{
  margin-left: 20px;
  margin-right: 20px;
}

.nav-button-text{

}

.nav-button:hover{
  background-color: var(--fifth-color-super-light);
  cursor: pointer;
}

.menu-button{
  cursor: pointer;
}
