.graph{
  margin-top: 20px;
}

.graph-x-axis{
  transform: rotate(-90deg);
  align-self: center;
  position: absolute;
  padding-bottom: 190px;
}

.graph-title{
  font-weight: 600;
}

.graph-y-axis{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.title-and-info{
  justify-content: space-between;
}

.graph-border{
  width: fit-content;
  border: 1px solid var(--fifth-color-light);
  border-radius: 5px;
}
