.DateRangePickerInput__withBorder {
  border: 1px solid transparent;
}

.date-style{
  border: 1px solid var(--fifth-color-light);
  border-radius: 5px;
  width: 310px;
}

.single-date-style{
  border: 1px solid var(--fifth-color-light);
  border-radius: 5px;
  width: 160px;
}
