.followers-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dates-filter{
  margin-bottom: 10px;
}

.followers-graphs{
  align-items: center;
}

.followers-graph{
  border-radius: 5px;
  border-width: thin;
  margin: 15px;
  padding: 20px;
  max-width: 1280px;
  border-color: var(--second-color);
  border-style: solid;
  position: relative;
  -webkit-transition: box-shadow 0.3s;
}

.followers-graph:hover{
  box-shadow: 5px 5px 15px dimgray;
}

@media (min-width: 1500px) {
  .followers-content {
    flex-direction: row;
  }
  .dates-filter{
    margin-right: 20px;
  }
}
