.followers-graphs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.followers-graph:last-child{
  margin-top: 15px;
}

.followers-graph{
  border-radius: 5px;
  border-width: thin;
  padding: 20px;
  border-color: transparent;
  position: relative;
  -webkit-transition: box-shadow 0.3s;
  flex-basis: 80%;
}

.followers-graph:hover{
  box-shadow: 5px 5px 15px dimgray;
}

.dates-filter{
  margin-top: 20px;
}

.header-box{
  width: fit-content;
  border-radius: 5px;
  border-width: thin;
  border-color: transparent;
  position: relative;
  -webkit-transition: box-shadow 0.3s;
}

.main-filters{
  display: flex;
  flex-direction: column;
  width: auto;
  box-shadow: 1px 1px 7px lightgray;
}

@media (min-width: 1024px) {
  .main-filters {
    flex-direction: row;
    justify-content: space-between;
  }

  .dates-filter{
    justify-content: center;
    margin-top: 0;
    margin-right: 20px;
  }

}

@media (min-width: 1800px) {

  .followers-graphs{
    flex-direction: row;
  }
  .followers-graph{
    flex-basis: 46%;
  }
  .followers-graph:last-child{
    margin-top: 0;
  }
}

.main-nav{
  justify-content: space-between;
}
