.candidate-header{
  flex-grow: 1;
  overflow-x: scroll;

}

.logo{
  margin-left: 10px;
  height: 83px;
  width: 207px;
  margin-bottom: 10px;
}

.candidates{
  margin-top: 10px;
  justify-content: space-between;
}

.party-name{
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

@media (min-width: 930px) {

  .candidate-header{
    justify-content: space-between;
    overflow-x: hidden;
  }

}
