.candidate-header{
  flex-grow: 1;
  overflow-x: scroll;
}

.logo{
  display: none;
}

.candidates{
  margin-top: 10px;
  justify-content: space-around;
}

.party-name{
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

@media (min-width: 930px) {

  .logo{
    display: unset;
    right: 10px;
    z-index: 10000;
    height: 70px;
    width: 196px;
    position: fixed;
    top: 0px;
  }

  .candidate-header{
    justify-content: space-between;
    overflow-x: hidden;
  }

}
