.similarities{
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.single-date-picker-position-1{
  position: absolute;
  z-index: 1000;
  left: 20px;
  margin-top: 75px;
}

.single-date-picker-position-2{
  z-index: 1000;
  position: absolute;
  left: 20px;
  margin-top: 75px;
}

@media (min-width: 350px) {

  .single-date-picker-position-1{
    margin-top: 55px;
  }

  .single-date-picker-position-2{
    margin-top: 55px;
  }
}

@media (min-width: 575px) {

  .single-date-picker-position-1{
    margin-top: 35px;
  }

  .single-date-picker-position-2{
    margin-top: 35px;
  }
}

@media (min-width: 1280px) {

  .single-date-picker-position-2{
    left: 665px;
  }

}
