// Backgroud colors
.first-bc-color{
  background-color: #687864;
}

.second-bc-color{
  background-color: #31708E;
}

.third-bc-color{
  background-color: #5085A5;
}

.forth-bc-color{
  background-color: #8FC1E3;
}

.fifth-bc-color{
  background-color: #878889;
}

// Backgroud colors light
.first-bc-color-light{
  background-color: #96a792;
}

.second-bc-color-light{
  background-color: #649ebe;
}

.third-bc-color-light{
  background-color: #5085a5;
}

.forth-bc-color-light{
  background-color: #1c5876;
}

.fifth-bc-color-light{
  background-color: #b7b8b9;
}

// Backgroud colors dark
.first-bc-color-dark{
  background-color: #3d4c3a;
}

.second-bc-color-dark{
  background-color: #004560;
}

.third-bc-color-dark{
  background-color: #1c5876;
}

.forth-bc-color-dark{
  background-color: #5e91b1;
}

.fifth-bc-color-dark{
  background-color: #5a5b5c;
}

// Border colors
.first-br-color{
  border-color: #687864;
}

.second-br-color{
  border-color: #31708E;
}

.third-br-color{
  border-color: #5085A5;
}

.forth-br-color{
  border-color: #8FC1E3;
}

.fifth-br-color{
  border-color: #878889;
}

// Border colors light
.first-br-color-light{
  border-color: #96a792;
}

.second-br-color-light{
  border-color: #649ebe;
}

.third-br-color-light{
  border-color: #5085a5;
}

.forth-br-color-light{
  border-color: #1c5876;
}

.fifth-br-color-light{
  border-color: #b7b8b9;
}

// Border colors dark
.first-br-color-dark{
  border-color: #3d4c3a;
}

.second-br-color-dark{
  border-color: #004560;
}

.third-br-color-dark{
  border-color: #1c5876;
}

.forth-br-color-dark{
  border-color: #5e91b1;
}

.fifth-br-color-dark{
  border-color: #5a5b5c;
}

// Font Colors
.first-font-color{
  color: #687864;
}

.second-font-color{
  color: #31708E;
}

.third-font-color{
  color: #5085A5;
}

.forth-font-color{
  color: #8FC1E3;
}

.fifth-font-color{
  color: #878889;
}

// Font colors light
.first-font-color-light{
  color: #96a792;
}

.second-font-color-light{
  color: #649ebe;
}

.third-font-color-light{
  color: #5085a5;
}

.forth-font-color-light{
  color: #1c5876;
}

.fifth-font-color-light{
  color: #b7b8b9;
}

// Border colors dark
.first-font-color-dark{
  color: #3d4c3a;
}

.second-font-color-dark{
  color: #004560;
}

.third-font-color-dark{
  color: #1c5876;
}

.forth-font-color-dark{
  color: #5e91b1;
}

.fifth-font-color-dark{
  color: #5a5b5c;
}

// font sizes
.font-sm{
  font-size: 12px;
}
.font-md{
  font-size: 14px;
}
.font-lg{
  font-size: 16px;
}

:root {
  --first-color: #687864;
  --second-color: #31708E;
  --third-color: #5085A5;
  --forth-color: #8FC1E3;
  --fifth-color: #878889;
  --first-color-light: #96a792;
  --second-color-light: #649ebe;
  --third-color-light: #5085a5;
  --forth-color-light: #1c5876;
  --fifth-color-light: #b7b8b9;
  --first-color-dark: #3d4c3a;
  --second-color-dark: #004560;
  --third-color-dark: #1c5876;
  --forth-color-dark: #5e91b1;
  --fifth-color-dark: #5a5b5c;
}
