.top-topics{
  min-width: 320px;
}

.topic-graph{
  //flex-basis: 80%;
}

.no-display{
  display: none;
}

.main-topics{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.topic-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic-title-text{
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.bullets{
  margin-top: 10px;
  max-height: 130px;
  flex-wrap: wrap;
  overflow-x: scroll;
}

.bullet{
  margin-bottom: 5px;
}

.bullet:hover{
  font-weight: bold;
  color: var(--second-color-dark);
  cursor: pointer;
}

.bullet-text{
  padding-right: 5px;
}

.tweet-wrapper{
  margin-left: 5px;
  margin-right: 5px;
}

.tweet-title{
  max-width: 475px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  padding: 10px;
  -webkit-transition: box-shadow 0.3s;
}

@media (min-width: 1280px) {
  .topic-title{
    flex-direction: row;
    //justify-content: center;
    //margin-left: 5px;
    //margin-right: 5px;
  }

  .topic-title-text{
    margin-right: 65px;
    flex-basis: 35.5%;
  }

  .party-selection-text{
    display: flex;
    justify-content: center;
  }

  .main-topics{
    flex-direction: row;
  }

  .bullets{
    overflow-y: scroll;
    overflow-x: unset;
    flex-wrap: unset;
    max-height: 400px;
  }

  .evolution-basis{
    flex-basis: 56%;
  }

  .tweet-wrapper{
    margin-top: 5px;
    margin-left: 10px;
  }
}
