.DateRangePickerInput__withBorder {
  border: 1px solid transparent;
}

.date-style{
  border: 1px solid var(--fifth-color-light);
  border-radius: 5px;
}

@media (min-width: 425px) {

  .date-style{
    width: 310px;
  }

}
