.DateInput_input {
  border: 1px solid var(--fifth-color-light);
  border-top: 1px solid transparent;
}

.DateInput_input__focused {
  border: 1px solid var(--fifth-color-light);
  border-bottom: 2px solid #008489;
  border-top: 1px solid transparent;
}
